body{
  margin:0px;
}
.wrapper{
  margin:auto;
  width:80%;
}
.header{
  display:flex;
  justify-content:space-between;
  margin-bottom: 133px;
}
.logo,.menu{
  display:inline-block;
}
.logo{
  font:bold 24px/32px pt_serifbold,Arial,Helvetica,Sans-serif;
  padding: 40px 0;
  padding-left: 45px;
  position: relative;
  margin-right: 62%;
}
.logo__circle{
  width: 28px;
  height: 28px;
  position:absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.logo__circle_color_dark-blue{
  background: #0056EC;
  border-radius: 50%;
  opacity: .7;
}
.logo__circle_color_blue{
  left:8px;
  top: 56%;
  background: #C8DBFB;
  border-radius: 50%;
  opacity: .7;
}
/* скрываем чекбокс */
#menu__toggle {
opacity: 0;
}
.menu__box {
  display: none;
  border:dashed 1px red;
}
.menu{
  font-family:"Roboto",Arial,Helvetica,Sans-serif;
  display: flex;
  align-items:center;
  border:  dashed 1px red;
}
.menu__item{
  position: relative;
  font: 500 18px/21px "robotomedium",Arial,Helvetica,Sans-serif;
  color:#000;
  text-decoration: none;
  transition: opacity 0.5s;
}
.menu__item_services{
  margin-left: 25px;
}
.menu__item_about{
  margin-left:24px;
}
.menu__item_blog{
  margin-left:30px;
}
.menu__item:last-child{
  padding-right:20px;
  margin-left: 29px;
}
.menu__item_active:after{
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#0056EC;
}
.menu__item:after{
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#0056EC;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}
.menu__item:hover{
  opacity: 0.5;
}
.menu__item:hover:after{
  position: absolute;
  left:0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056EC;
}
.menu__item:hover:after,.menu__item_active:after{
  opacity: 1;
  width: 100%;
}
.main{
  padding: 0 57% 100px 0;
  background: url(img/mainImg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-right: 4px;
}
.main__title{
  margin:0 0 34px 0;
  padding-top: 73px;
  font: 700 66px/87px 'pt_serifbold',Arial,Helvetica,Sans-serif;
  color:#000;
}
.main__title-text_highlight{
  background: #ECF3FF;
}
.main__subtitle{
 margin: 0 0 41px 0;
 padding: 0px 30% 0 0;
 font: 400 22px/26px "robotoregular",Arial,Helvetica,Sans-serif;
 color:#000;
}
.main__button{
 display: inline-block;
 font: 500 18px/21px "robotomedium",Arial,Helvetica,Sans-serif;
 padding: 15px 32px 17px 24px;
 margin-left: 3px;
 color: #FFF;
 background: #0056EC;
 text-decoration: none;
 border-radius: 4px;
 transition: opacity .5s;
}
.main__button:hover{
  opacity: .5;
}
@media(max-width:1366px){
  .logo{
    padding: 20px 0;
    padding-left: 44px;
  }
  .header{
    margin-bottom: 40px;
  }
  .main{
    background-size: contain;
    padding-bottom: 80px;
  }
  .main__title{
    font: 700 55px/66px 'pt_serifbold',Arial,Helvetica,Sans-serif;
  }
  .main__subtitle{
    font: 500 18px/21px "robotoregular",Arial,Helvetica,Sans-serif;
  }
  .main__button{
    font: 500 14px/16px "robotomedium",Arial,Helvetica,Sans-serif;
  }
}
@media(max-width:1024px){
  .wrapper{
    margin:auto;
    width:90%;
  }
  .header{
    margin-bottom: 100px;
  }
  .main{
    background-size: 54%;
    padding-top: 0;
    padding-bottom: 50px;
  }
  .main__title{
    font: 700 50px/66px 'pt_serifbold',Arial,Helvetica,Sans-serif;
    padding-top: 0;
    padding-right: 1px;
  }
  .main__subtitle{
  font: 500 18px/21px "roboto",Arial,Helvetica,Sans-serif;
  padding-right: 0;
 }
}
@media(max-width:768px) {
  .wrapper{
    margin:auto;
    width:80%;
  }
  .logo{
   font-size:0;
  }
  .header{
    margin-bottom: 38px;
  }
  .menu{
    display:none;
  }
  .main{
    background-position: top center;
    background-size: 70%;
    padding:60% 0 0;
    text-align: center;
  }
  .main__title{
    font: 700 30px/40px 'pt_serifbold',Arial,Helvetica,Sans-serif;
    margin-bottom: 44px;
  }
  .main__subtitle{
    font: 500 16px/19px "robotomedium",Arial,Helvetica,Sans-serif;
    margin-bottom: 25px;
    padding: 0 20px;
  }
  .main__button{
    font: 500 14px/16px "robotomedium",Arial,Helvetica,Sans-serif;
  }
  /* скрываем чекбокс */
#menu__toggle {
  opacity: 0;
}
/* стилизуем кнопку */
.menu__btn {
  display: flex; /* используем flex для центрирования содержимого */
  align-items: center;  /* центрируем содержимое кнопки */
  position: fixed;
  top: 30px;
  right:24px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
/* добавляем "гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #0056EC;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
/* контейнер меню */
.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 186px 0;
  text-align: center;
  background-color: #FFF;
}
/* элементы меню */
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #000;
  font: 500 30px/35px "robotomedium",Arial,Helvetica,Sans-serif;
}

#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
}
