body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 133px;
}

.logo,
.menu__box {
  display: inline-block;
}

.logo {
  font: bold 24px/32px "pt_serifbold", Arial, Helvetica, Sans-serif;
  padding: 40px 0;
  padding-left: 45px;
  position: relative;
}

.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  border-radius: 50%;
  opacity: .7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
  border-radius: 50%;
  opacity: .7;
}

#menu__toggle {
  opacity: 0;
 }

.menu__box {
  font-family: "robotomedium", Arial, Helvetica, Sans-serif;
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.menu__item {
  position: relative;
  font: 500 18px/21px "robotomedium", Arial, Helvetica, Sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
  padding-right: 0;
}

.menu__item_services {
  margin-left: 24px;
}

.menu__item_about {
  margin-left: 23px;
}

.menu__item_blog {
  margin-left: 26px;
}

.menu__item:last-child {
  margin-left: 29px;
  margin-right: 10px;
}

.menu__item_active::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  background: #0056ec;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.main {
  padding: 0 57% 150px 0;
  background: url(img/mainImg.svg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-right: 8px;
}

.main__title {
  margin: 0 0 34px 0;
  padding-top: 73px;
  font: 700 66px/87px 'pt_serifbold', Arial, Helvetica, Sans-serif;
  color: #000;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin: 0 0 39px 0;
  padding: 0 30% 0 0;
  font: 400 22px/26px "robotoregular", Arial, Helvetica, Sans-serif;
  color: #000;
}

.main__button {
  display: inline-block;
  font: 500 18px/21px "robotomedium", Arial, Helvetica, Sans-serif;
  padding: 15px 33px 18px 21px;
  margin-left: 3px;
  color: #fff;
  background: #0056ec;
  text-decoration: none;
  border-radius: 4px;
  border: 4px solid #c8dbfb;
  animation: radial-pulse 4s infinite;
}

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0 #c8dbfb;
  }

  100% {
    box-shadow: 0 0 0 15px #c8dbfb;
  }

}

@media (max-width: 1524px) {
  .main {
    background-size: 58%;
  }

  .main__title {
    font: 800 66px/87px 'pt_serifbold', Arial, Helvetica, Sans-serif;
  }

}

@media (max-width: 1440px) {
  .main {
    background-size: 60%;
  }

  .main__title {
    font: 600 50px/66px 'pt_serifbold', Arial, Helvetica, Sans-serif;
  }

  .main__subtitle {
    font: 500 17px/20px "robotoregular", Arial, Helvetica, Sans-serif;
  }

}

@media (max-width: 1366px) {
  .wrapper {
    margin: auto;
    width: 68%;
  }

  .header {
    margin-bottom: 85px;
  }

  .logo {
    margin-right: 45%;
  }

  .menu__item {
    padding-top: 3px;
    font: 500 14px/16px "robotomedium", Arial, Helvetica, Sans-serif;
  }

  .menu__item_services {
    margin-left: 25px;
  }

  .menu__item:last-child {
    margin-right: 3px;
  }

  .main {
    padding-bottom: 80px;
    background-size: 55%;
    margin-right: 0;
  }

  .main__title {
    font: 700 50px/66px 'pt_serifbold', Arial, Helvetica, Sans-serif;
    padding-top: 13px;
    margin-bottom: 38px;
  }

  .main__subtitle {
    font: 500 18px/21px "robotoregular", Arial, Helvetica, Sans-serif;
    padding-right: 20px;
    margin-bottom: 39px;
  }

  .main__button {
    font: 500 14px/16px "robotomedium", Arial, Helvetica, Sans-serif;
    padding-right: 25px;
    padding-left: 12px;
    padding-bottom: 15px;
    margin-left: -1px;
  }

}

@media (max-width: 1360px) {
  .wrapper {
    margin: auto;
    width: 70%;
  }
}

@media (max-width: 1320px) {
  .wrapper {
    margin: auto;
    width: 72%;
  }
}

@media (max-width: 1286px) {
  .wrapper {
    margin: auto;
    width: 80%;
  }

  .main__title {
    font: 600 50px/66px 'pt_serifbold', Arial, Helvetica, Sans-serif;
  }

  .main__subtitle {
    font: 400 18px/21px "robotoregular", Arial, Helvetica, Sans-serif;
  }

}

@media (max-width: 1152px) {
  .wrapper {
    margin: auto;
    width: 80%;
  }

  .logo {
    margin-right: 25%;
  }

  .menu__item:last-child {
    margin-right: 0px;
  }

}

@media (max-width: 1024px) {
  .wrapper {
    margin: auto;
    width: 91%;
  }

  .header {
    margin-bottom: 85px;
  }

  .menu__item:last-child {
    margin-left: 27px;
  }

  .menu__item_blog {
    margin-left: 27px;
  }

  .menu__item_about {
    margin-left: 26px;
  }

  .menu__item_services {
    margin-left: 24px;
  }

  .main {
    background-size: 55%;
    padding-top: 13px;
    padding-bottom: 50px;
  }

  .main__title {
    font: 700 50px/66px 'pt_serifbold', Arial, Helvetica, Sans-serif;
    padding-top: 0;
    padding-right: 1px;
  }

  .main__subtitle {
    font: 500 18px/21px "robotomedium", Arial, Helvetica, Sans-serif;
    padding-right: 10px;
    margin-bottom: 39px;
  }

  .main__button {
    padding: 15px 25px 14px 12px;
    margin-left: 0;
  }

}

@media (max-width: 800px) {
  .main__title {
    font: 750 30px/40px 'pt_serifbold', Arial, Helvetica, Sans-serif;
  }

  .main__subtitle {
    font: 300 14px/17px "robotomedium", Arial, Helvetica, Sans-serif;
  }

}

@media (max-width: 768px) {
  .wrapper {
    margin: auto;
    width: 87%;
  }

  .logo {
    font-size: 0;
    padding-top: 5px;
  }

  .header {
    margin-bottom: 10px;
  }

  .main {
    background-position: top center;
    background-size: 86%;
    padding: 80% 0 0 7px;
    text-align: center;
  }

  .main__title {
    font: 700 30px/40px 'pt_serifbold', Arial, Helvetica, Sans-serif;
    margin-bottom: 31px;
  }

  .main__subtitle {
    font: 500 16px/19px "robotomedium", Arial, Helvetica, Sans-serif;
    margin-bottom: 21px;
    padding: 0 35px 0 34px;
  }

  .main__button {
    font: 500 14px/16px "robotomedium", Arial, Helvetica, Sans-serif;
    padding: 14px 28px 13px 15px;
    margin-right: 6px;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 28px;
    right: 24px;
    width: 25px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0056ec;
  }

  .menu__btn > span::before {
    content: '';
    top: -7px;
  }

  .menu__btn > span::after {
    content: '';
    top: 7px;
  }

  .menu__box {
    display: flex;
    flex-direction: column;
    position: fixed;
    visibility: hidden;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 173px 0;
    list-style: none;
    text-align: center;
    background-color: #fff;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    margin: 0;
    color: #333;
    font: 500 30px/35px "robotomedium", Arial, Helvetica, Sans-serif;
  }

  .menu__item:last-child {
    margin-left: 0;
    padding-left: 0;
    padding-right: 9px;
  }

  .menu__item_blog {
     padding-right: 27px;
  }

  .menu__item_about {
    padding-right: 27px;
    margin-bottom: 1px;
  }

  .menu__item_services {
    margin-bottom: 3px;
  }

  .menu__item_active::after {
    display: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
}
